body{
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ',Verdana,'ＭＳ Ｐゴシック',sans-serif;
}
section{
  margin-bottom: 3em;
}
h2{
  border-bottom: 1px solid #e5e5e5;
}
h2 small{
  display: block;
  float: right;
  margin-top: 1em;
}
.prettyprint{
  margin-top: 1em;
}
header.page-header{
  color: #ffffff;
  margin-top: 0;
  padding: 40px 0;
  background-color: #2c3e50;
}

footer{
  border-top: 1px solid #e5e5e5;
  background-color: #2c3e50;
  color: #ffffff;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
}

/**
 * サイドナビ
 */
#sidebar .affix{
  top: 20px;
  min-height: 1px;
}
#sidebar > ul{
  padding: 0;
}
#sidebar > ul > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
#sidebar .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
#sidebar a:hover .icon-chevron-right {
  opacity: .5;
}
#sidebar .active .icon-chevron-right,
#sidebar .active a:hover .icon-chevron-right {
  background-image: url('/img/glyphicons-halflings-white.png');
  opacity: 1;
}
#sidebar .active a,
#sidebar .active a:hover{
  background-color: #3498db;
}


/**
 * デモ
 */
#example > dl > dt{
  font-size: 24px;
  margin-bottom: 12px;  
}
#example > dl > dd{
  margin-bottom: 2em;
}
.demo-area{
  border: 1px solid #e5e5e5;
  height: 300px;
  margin-right: 1em;
  position: relative;
}
.sprite{
  top: 10px;
  left: 10px;
  height: 10px;
  width: 10px;
  background-color: #3498db;
  position: absolute;
  pointer-events: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.button-area li:first-child{
  margin-bottom: 1em;
}

#timingFunction .demo-area{
  height: 200px;
  padding: 0 10px 10px 0;
  margin: 0 0 1em 0;
}
#timingFunction .sprite{
  top: 0;
  left: 0;
  position: static;
}
.axis-x{
  position: relative;
  width: 10px;
  left: 0;
}
.axis-y{
  width: 100%;
  position: relative;
  top: 0;
}
#preset-list label:first-child{
  margin-left: 10px;
}
#example_1 .demo-area{
  height: 200px;
}

#example_1 .sprite{
  position: static;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
#example_3 .sprite{
  top: 0;
  left: 0;
}
#example_3 .axis{
  position: absolute;
  width: 100%;

}

/**
 * 外部リンク
 */
.outerLinkIcon{
  margin-left: 5px;
  vertical-align: baseline;
}

/**
 * メモ
 */
.memo {
  position: relative;
  padding-top: 28px;
  background-color: #ffffff;
}
.memo:after {
  content: "memo";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
